body {
  background: url('https://i.stack.imgur.com/jGlzr.png') no-repeat 0 0 scroll;
  background-color:#0C0C0C;
  background-size: cover;
   font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    display: flex-box;
    background-color:#dfd3c3; ;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #596e79;
    border-radius: 15px;
    animation:bounceInRight;
    animation-duration: 1s;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
   
  }
  
  li {
    list-style-type: none;
    margin-bottom: 5px;
    animation: fadeIn 0.5s ease;
  }
  
  li span {
    cursor: pointer;
  }
  
.fadeIn{
  animation: bounceIn;
  animation-duration: 1s;
}
ul{
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: left;
}
  

    
@keyframes subir {
    from{
        height: 0;
    }
    to{
        height: 180px;

    }
 }
 @keyframes float {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
.remove-task {
  color: red; 
  cursor: pointer;
  margin-left: 5px; 
  background-color: red;
  border-radius: 5px;
  
}

.fadeOut{
  animation:bounceOutLeft;
  animation-duration: 1.5s;
}
.remove-task:hover{
  transform: scale(1.2);
}
